* {
    font-family: 'Montserrat', sans-serif;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a {
    color: grey;
}

.navbar {
    display: inline-flex;
    border: none;
    background-color: black;
}

#navcontainer {
    margin: auto 5px;
    width: 100%;
    text-align: right;
}

.navlink {
    font-size: 1.2em;
    margin-left: 10px;
    color: white;
    position: relative;
    padding-bottom: 4px;

}

.navlink:after {
    content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid white;
      transition: width .5s ease;
      /*-moz-transition: width .5s ease, background-color .5s ease;*/
      /*-webkit-transition: width .5s ease, background-color .5s ease;*/
      /*-ms-transition: width .5s ease, background-color .5s ease;*/
}

.navlink:hover {
    color: white;
}
.navlink:hover:after{
     color: white;
     width: 100%;
}
#main {
    height: 500px;
    background-color: #72adf1;
    overflow: hidden;
}

#organizations {
}

.positioner {
    margin-left:8vh;
}


.org {
    color: white;
    border: none;
    display: inline-block;
    background-image: url("../img/cipher-1.png");
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    line-height: 50px;
    font-size: 2.5em;
    
}

.dummy {
    margin-top: 100%;
}
.orgname {
    position: absolute;
    margin-bottom: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
}

#blog {
   
    margin-top: 65px;
    margin-bottom: 50px;
    border: none;
    padding-bottom: 30px;
}

#blog h1 {
    text-align: center;
    color: black;
}

#title {
    font-size: 40px;
    font-weight:700;
    color: black;
    padding: 8px;
    padding-top: 45px;
    display: inline-block;
}

#question {
    color: white;
    font-size: 70px;
}

#text {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color: white;
}

#action {
    margin-top: 20px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pencil {
   position: absolute;
   right: 0;
   bottom: 0;
   margin-bottom: -80px;
}

#post {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#blogaction {
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: black;
    color: white;
    height: 35px;
}

#contactus {
    border-top: 1px solid #D9D9D9;
    color: #808080;
}

.footer-positioner {
    margin-left:10vh;
}

#facebook {
    width: 30px;
    display:inline-block;
}

#facebooklink {
    top: 0;
}
.socialmedia {
    margin-top: 0;
    display: inline-block;
}

.socialmediablock {
    margin-top: 10px;
    display: inline;
    margin-left: 15px;
}
.row a {
    color: black ;
}


#contactus {
    font-weight:300;
    padding-bottom: 50px;
    line-height: 2.2em;
}

#contactus h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
    color: black;
}
#bloglink {
    margin-bottom: 0px;
}
#post p {
    line-height: 1.7;
    font-family: 'PT Serif', serif;
}

#blog h1 {
    font-size: 50px;
    margin-bottom:25px;
}

#postcontent {
    font-size: 20px;
}

.col-xs-3 {
    padding: 0;
}


@media screen and (min-width:1400px) {
    .positioner {
        margin-left:18vh;
    }
    
    #pencil {
        margin-right:16vh;
    }
    
}

@media screen and (min-width:740px) {
    #post {
        width: 600px;
    }
}

@media screen and (max-width:1000px) {
    #pencil {
        display:none;
    }
    
    #main {
        text-align:center;
    }
    
    .org {
        font-size: 2em;
    }
    
    .positioner {
        margin-left: 0;
    }
    
}

@media screen and (max-width:800px) { 
    .org {
        font-size: 1.5em;
    }
    
    
}

@media screen and (max-width:650px) { 
    .org {
        font-size: 1.4em;
    }
    
    
}

@media screen and (max-width:550px) { 
    .org {
        font-size: 1.2em;
    }
    
    
}


@media screen and (max-width:563px) { 
    #question {
        font-size: 4.9em;
    }
    
}

@media screen and (max-width:530px) { 
  
    
}

@media screen and (max-width:519px) { 
    #question {
        font-size: 4.2em;
    }
    
}

@media screen and (max-width:470px) { 
    .org {
        font-size: 1em;
    }
    
    
}

@media screen and (max-width:480px) { 
    .org {
        font-size: 0.9em;
    }
    
    
}

@media screen and (max-width:349px) { 
    .org {
        font-size: 0.8em;
    }
    
    #question {
        font-size: 3.6em;
    }
    
    #text {
        font-size: 1.5em;
    }
    
}