#main {
    height: 500px;
    background-color: #72adf1;
    overflow: hidden;
}

#organizations {
    height: 300px;
}

.org {
    width: 150px;
    height: 150px;
    border: solid black 1px;
    display: inline-block;
}

#blog {
    border: solid black 2px;
    padding-bottom: 30px
}

#title {
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 8px;
    display: inline-block;
}

#question {
    color: white;
    font-size: 70px;
}

#text {
    font-size: 25px;
    color: white;
}

#action {
    margin-top: 20px;
    border: none;
    border-radius: 0;
    font-size: 30px;
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#pencil {
   position: absolute;
   right: 0;
   bottom: 0;
   margin-right: 20px;
   margin-bottom: -80px;
   
    
}