#main {
    height: 400px;
    background-color: lightblue;
}

#organizations {
    height: 300px;
}

.org {
    width: 150px;
    height: 150px;
    border: solid black 1px;
    display: inline-block;
}

#blog {
    border: solid black 2px;
    padding-bottom: 30px
}